---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import LineBg from "@/components/LineBg.astro";
import { humanize, markdownify } from "@/lib/utils/textConverter";

const {
  title = "",
  description = "",
  breadcrumb = true,
}: { title?: string; description?: string; breadcrumb?: boolean } = Astro.props;
---

<section class="section page-header relative overflow-hidden pb-96 after:z-10">
  <div class="container relative z-30">
    <div class="row items-center">
      <div class="mx-auto text-center lg:col-8">
        {
          title && (
            <h1
              class="mb-6 text-[35px] sm:text-[50px] xl:text-[65px]"
              data-aos="fade-up-sm"
            >
              {humanize(title)}
            </h1>
          )
        }
        {breadcrumb && <Breadcrumbs className="mt-6 breadcrumb" />}

        {
          description && (
            <>
              <hr
                class="mx-auto mb-6 h-[1px] w-[100px] border-0 border-b border-t border-dark border-opacity-50 bg-transparent"
                data-aos="fade-up-sm"
                data-aos-delay="50"
              />
              <p
                class="mb-6 text-[20px]"
                data-aos="fade-up-sm"
                data-aos-delay="100"
              >
                {markdownify(description!)}
              </p>
            </>
          )
        }
      </div>
    </div>
  </div>
  <!-- End Main Content -->

  <LineBg className="absolute z-20" color="bg-line-yellow" />
  <!-- End background lines -->

  <!-- Start Shape background -->
  <div
    class="pointer-events-none absolute left-0 top-[5%] z-30 hidden select-none lg:block"
    data-aos="fade-up-sm"
  >
    <img
      class="inject-svg text-secondary"
      src="/images/shapes/page-header-s-1.svg"
      alt="shape"
    />
  </div>
  <div
    class="pointer-events-none absolute right-0 top-[25%] z-30 hidden select-none lg:block"
    data-aos="fade-up-sm"
  >
    <img
      class="inject-svg text-quinary"
      src="/images/shapes/page-header-s-2.svg"
      alt="shape"
    />
  </div>
</section>
<!-- End Page Header -->
