---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("pages", "404");
const { Content } = await entry.render();
const {
  data: { title, image },
}: { data: { title?: string; image: string } } = entry;
---

<Base title={entry.data.title} headerBg="bg-transparent" showCta={false}>
  <section class="section">
    <div class="container relative z-30">
      <h1 class="h2 mb-4 text-center" set:html={markdownify(title!)} />
      <div class="row items-center">
        <div data-aos="fade-in" class="col-12 text-center">
          <Image
            src={image}
            alt="404 illustration"
            width={750}
            height={438}
            class="mx-auto mb-14 block w-full max-w-[750px] select-none"
          />
          <div class="content mb-5 text-lg">
            <Content />
          </div>
          <a href="/" class="btn btn-primary">Go Back Home</a>
        </div>
      </div>
    </div>
  </section>
</Base>
