---
import Account from "@/layouts/Account";
import Base from "@/layouts/Base.astro";

const { pathname } = Astro.url;
---

<Base showFooter={false} headerBg="bg-transparent">
  <main>
    <Account
      title="Login"
      pathname={pathname}
      description="Donec rutrum congue leo eget malesuada. Sed porttitor nibh. Cras ultricies ligula sed magna dictum porta. Vestibulum">
      <p class="mt-6 text-center">
        Don&apos;t have any account?{" "}
        <a
          class="font-medium underline underline-offset-2 hover:no-underline"
          href="sign-up"
        >
          Sign Up
      </a>
      </p>
      <p class="mt-2 text-center">
        Forget your password?{" "}
        <a
          class="font-medium underline underline-offset-2 hover:no-underline"
          href="/reset-password"
        >
          Reset Password
        </a>
      </p>
    </Account>
  </main>
</Base>
