---
import Account from "@/layouts/Account";
import Base from "@/layouts/Base.astro";
const { pathname } = Astro.url
---

<Base showFooter={false} headerBg="bg-transparent">
  <main>
    <Account
    description="To reset your password, enter your account's email address below. We'll send you an email with instructions for creating a new password"
    title="Reset Password"
      pathname={pathname}
    />
  </main>
</Base>

